.Timer__container {
    width: 450px;
    height: 580px;
}

.Timer__header {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 70%;
}

.Timer__body {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 30%;
}